/* LetrasEnLinea.com*/
body{
  background: #709AA4;
}

h1 {
  height: 60px;
  background: #709AA4;
}

h4 {
  height: 60px;
}

#cardInformation{
background: #7AC1EA;
border: 1px solid #000000;
width: 400px;
height: 300px;

}

#cardValida{
background: #FFFFFF;
}

#cardInvalida{
background: #FFFFFF;
}

#rValida{
background: #93D9B3;
border: 1px solid #253C2F;
width: 400px;
height: 100px
}

#rInvalida{
background: #BE9292;
border: 1px solid #253C2F;
width: 400px;
height: 100px
}

#tValida{
height: 30px;
}

#tInvalida{
height: 30px;
}

input{
  background: #D2D9DD;
  border:2px solid #000000;
  height: 25px;
  width: 210px;
}

button{
  width: 150px;
  height: 32px;
  background: #E9F841;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 18px;
}
