HTML {
  height: 100%;
  font-family: 'Lora', serif;
  }

BODY {
  background: radial-gradient(4rem,
    rgba(255,255,255,0) 80%,
    #778691 80%, #778691 99%,
    rgba(255,255,255, 0)
    ) 0 0,
    radial-gradient(4rem,
    rgba(255,255,255,0) 80%,
    #778691 80%, #778691 99%,
    rgba(255,255,255, 0)
    ) 4em 4em,
    radial-gradient(4.7rem,
    rgba(255,255,255,0) 50%,
    #B1C2B3 50%,
    #B1C2B3 75%, #B1C2B3 99%,
    rgba(255,255,255, 0)
    ) 4em 4em,
    radial-gradient(4.7rem,
    rgba(255,255,255,0) 50%,
    #B1C2B3 50%,
    #F5FCD0 75%, #B1C2B3 99%,
    rgba(255,255,255, 0)
    ) 0 0;
  background-size: 8rem 8rem;
  background-color: #F5FCD0;
  }


.titulo{
  color: #FFFFFF;
}

.validatorTitle{
  border: 1px solid #000000;
  background: #649BAC
}

.container > div {
  display: block;
  padding: 20px;
  color: #000000;
  background: #7AB3C6;
  box-shadow: 2px 2px 10px rgba(0,0,0,.25);
}

.container{
  border: 1px solid #000000;
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows: 1fr;
}

input{

  font-size: 16px;
  width: 13em;
  padding: 0.3em 0.5em;
}


button{
border: 2px inset #51899B;
font-size: 17px;
padding: 0.5em 1em;
font-family: 'Lora', serif;
background: #F0E68C;
box-sizing: border-box;
border-radius: 18px;
}


.answer{
  background: #7AB3C6;

}

.footer{
 border: 0.1px solid #000000;
 background: #51899B;
 font-size: 12px;


}
